<div class="link-wrapper-mobile">
    <a href="https://www.linkedin.com/in/%EB%8C%80%ED%98%84-%EC%A0%95-24328a212/"><img src="https://img.shields.io/badge/LinkedIn-1572B6?style=for-the-badge&logo=LinkedIn&logoColor=white"></a>
    <span style="margin-left: 5px;"></span>
    <a href="https://github.com/Jeong-Daniel"><img src="https://img.shields.io/badge/Github-181717?style=for-the-badge&logo=Github&logoColor=white"></a>
    <span style="margin-left: 5px;"></span>
    <a href="https://backend-jeong.tistory.com/"><img src="https://img.shields.io/badge/Blog-828282?style=for-the-badge&logo=Bloglovin&logoColor=white"></a>
    <span style="margin-left: 5px;"></span>
    <a href="https://twitter.com/Jeong_Daniel_"><img src="https://img.shields.io/badge/Twitter-2986cc?style=for-the-badge&logo=Twitter&logoColor=white"></a>
    <span style="margin-left: 5px;"></span>
    <a href="mailto:empcik@pusan.ac.kr"><img src="https://img.shields.io/badge/Gmail-E34F26?style=for-the-badge&logo=gmail&logoColor=white"></a>
    <span style="margin-left: 5px;"></span>
    
</div>