<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }
      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="https://www.linkedin.com/in/%EB%8C%80%ED%98%84-%EC%A0%95-24328a212/"><i class="fab fa-linkedin"></i> Linkedin</a></li>
      <li><a href="https://github.com/Jeong-Daniel"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="https://twitter.com/Jeong_Daniel_"><i class="fab fa-twitter"></i> Twitter</a></li>
      <li><a href="https://backend-jeong.tistory.com/"><i class="fas fa-feather-alt"></i> Blog</a></li>
      <li><a href="https://github.com/Jeong-Daniel?tab=repositories"><i class="far fa-bookmark"></i> Project Repository</a></li>
    </ul>
  </div>