/* assets/css/custom.scss */

/* Chirpy 테마 이미지 로딩 시 반짝임 효과 제거 */
.shimmer {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
  background: none !important;
}